.text-content{
    margin-top: 20px;
    border-top: none;
    border-left:4px solid black;
    border-right:4px solid black;
    padding: 0px 15px 0px 15px;
    color: black;
    font-family: SF Pro Text;
    font-size: 28px;
    line-height: 1.5;
    text-align: left;
  }
  .container{
    position: relative;
    text-align: center;
    color: white;
  }
  .cover-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit:contain;
    position: relative;
    text-align: center;
    color: white;
  }
  .cover-img img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  #QuotePerson{
    @font-face {
          font-family: tk-utopia-std-i7;
          src: url(https://use.typekit.net/af/4bab48/0000000000000000000131a1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/4bab48/0000000000000000000131a1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/4bab48/0000000000000000000131a1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
          font-weight: 700;
          font-style: italic;
          font-display: auto;
      }
      font-size: 24px;
      font-style: italic;
      color: maroon;
      text-transform: none;
      padding-bottom: 0;
      padding-top: 12px;
  }