<% layout('/layouts/boilerplate') %>

    <!-- <div class="logo ">
    
</div>
<div class="text">
    <p>Making learning possible for students of all ages, from pre-school to graduate school</p>
</div> -->

    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/assets/aboutUs.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <a href="index.html"><img src="/assets/logo.png" class="img-fluid" alt="logo"></a>

                   <p class="lead mb-0 text-white">Doing Nothing is Not An Option Of Our Life</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Why Us Section -->
	<section class="why-us">
		<div class="container">
	        <div class="row">
				<div class="col-md-8 offset-md-2">
					<h2 class="mt-5 text-center">Why Choose Us</h2>
					<p class="mb-5 text-center">Donation Nation is an upcoming Donation Platform where anyone can donate for various types of causes and
                        social deeds, that can help make someone's life better. Donation Nation has been started by 4 individual
                        pursuing their Undergrad Engineering in Computer Science with the sole intention of making other
                        people's lives easier and better. All 4 of us strive towards the same motive and intend on doing
                        everything in our power to make sure that this is accomplished to the fullest. <br>
        
                        Each and every human being must have the same opportunity to succeed in life, irrespective of the
                        circumstances they were born into. 
        
                        But, the reality differs. <br>
        
                        Individual wealth in India witnessed a growth rate of 10.91% in the year 2016-17 against 8.50% in
                        2015-16 . India also created higher number of high-net-worth-individuals with a growth rate of 9.5%
                        against the Asia growth rate of 7.5%. (Karvy's India Wealth Report 2017)  <br>
        
                        And yet, 36% of children under 5 in India are malnourished, 51 per cent of the women of reproductive age
                        suffer from anemia, 33 million children still do not attend school and employed in various forms of
                        child labor, 350 million Indians still face the burden of open defecation due to lack of access to
                        sanitation facilities,* and close to 18,000 villages in India still do not have storage facilities for
                        water. <br>
        
                        We at Donation Nation, aspire to change this inequality. 
        
                        This is accomplished by bringing together the people who want to give and the organizations that work to
                        make a difference. 
                        We tell you exactly how your donation helps those in need and also give you a proof of it through
                        regular and rigorously checked fund utilization reports.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>01</span>
						<h4><a href="#">You select the program that you wish to commit to support</a></h4>
						
						<img src="/images/image-one.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>02</span>
						<h4><a href="#">You receive a tax exemption receipt as soon as your donation transaction is complete</a></h4>
						
						<img src="/images/image-two.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>03</span>
						<h4><a href="#">The amount is allocated to the program and nonprofit of your choice</a></h4>
						
						<img src="/images/image-three.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>04</span>
						<h4><a href="#">Donations are disbursed to the nonprofits as per our schedule</a></h4>
						
						<img src="/images/image-four.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>05</span>
						<h4><a href="#">The nonprofit utilizes the money for the people as per your chosen program</a></h4>
						
						<img src="/images/image-five.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>06</span>
						<h4><a href="#">We track every donation and ensure that the nonprofit sends us a report on how they utilize donations</a></h4>
						
						<img src="/images/image-six.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>