<% layout('/layouts/boilerplate') %>

<section id="header" class="jumbotron text-center">
  <h1 class="display-3">Donate Now</h1>
  <p class="lead" style="color: #fff;">Doing Nothing is Not An Option in Our life.</p>

</section>




<div class="row row-cols-1 row-cols-md-3 g-4 cards">
        <div class="col">
            <div class="card h-100">
                <img src="/assets/donate.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Donate</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>

                <!-- Payment Button -->
                <% if(currentUser) {%>
                    <a href=" https://test.instamojo.com/@donation_nation_21/" rel="im-checkout" data-text="Donate Now"
                        data-css-style="color:#ffffff; background:#f48b29; width:300px; border-radius:30px"
                        data-layout="vertical"></a>
                    <script src="https://js.instamojo.com/v1/button.js"></script>
                    <% }%>

                        <!-- Payment Button -->


            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/volunteer.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Volunteer</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                  </div>
                  <a href=" https://test.instamojo.com/@donation_nation_21/" rel="im-checkout" data-text="Donate Now"
                      data-css-style="color:#ffffff; background:#f48b29; width:300px; border-radius:30px"
                      data-layout="vertical"></a>

            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/sponsorship.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Sponsor</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                                    <a href=" https://test.instamojo.com/@donation_nation_21/" rel="im-checkout" data-text="Donate Now"
                        data-css-style="color:#ffffff; background:#f48b29; width:300px; border-radius:30px"
                        data-layout="vertical"></a>

            </div>
        </div>
    </div>
