<% layout('/layouts/boilerplate') %>

    <!-- header starts -->
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/assets/background.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">Donation Nation</h1>
                    <p class="lead mb-0">Doing Nothing is Not An Option Of Our Life</p>
                </div>
            </div>
        </div>
    </header>

    <!-- header ends -->
	<!-- Why Us Section -->
	<section class="why-us">
		<div class="container">
	        <div class="row">
				<div class="col-md-8 offset-md-2">
					<h2 class="mt-5 text-center">Why Choose Us</h2>
					<p class="mb-5 text-center">Why choose us section design HTML is created by using Bootstrap and custom HTML CSS. This our services section cards are more beautiful with pure CSS hover effects.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>01</span>
						<h4><a href="#">Why Lorem Ipsum</a></h4>
						<p>There are many variations of passages of available, but the majority have suffered alteration in some form</p>
						<img src="/images/image-one.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>02</span>
						<h4><a href="#">Why do we use it</a></h4>
						<p>There are many variations of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
						<img src="/images/image-two.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>03</span>
						<h4><a href="#">Can I get some</a></h4>
						<p>There are many variations of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
						<img src="/images/image-three.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>04</span>
						<h4><a href="#">Why Lorem Ipsum</a></h4>
						<p>There are many variations of passages of Lorem Ipsum available, the majority have suffered alteration in some form</p>
						<img src="/images/image-four.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>05</span>
						<h4><a href="#">Why do we use it</a></h4>
						<p>There are many of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
						<img src="/images/image-five.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>06</span>
						<h4><a href="#">Can I get some</a></h4>
						<p>There are variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
						<img src="/images/image-six.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>