<% layout('/layouts/boilerplate') %>



	<!-- header starts -->
	<header>
		<div class="overlay"></div>
		<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
			<source src="/assets/background.mp4" type="video/mp4">
		</video>
		<div class="container h-100">
			<div class="d-flex h-100 text-center align-items-center">
				<div class="w-100 text-white">
					<h1 class="display-3">Donation Nation </h1>
					<p class="lead mb-0">Doing Nothing is Not An Option Of Our Life</p>
				</div>
			</div>
		</div>
	</header>

	<!-- header ends -->





	<article class="col-md-12">
		<!-- BLOG CARDS -->

		<div class="cards-1 section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img"
										src="https://images.unsplash.com/photo-1522661067900-ab829854a57f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
									<div class="card-caption"> Covid-19 cloud over girl child education efforts </div>
								</a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-info">Vadodara</h6>
								<p class="card-description"> The ripple effect of economic slowdown owing to Covid-19
									has reeached even those working for noble causes, included the much-needed girl
									child education.


								</p>

							</div>
						</div>
						<div class="card">
							<div class="table table-info">
								<h5 class="category-social">
									<i class="fa fa-twitter"></i> Twitter
								</h5>
								<h4 class="card-caption">
									<a href="#">"#Students who are feeling helpless, scared or worried - remember that you are not alone.
										Get in touch with our counsellor today. Call our toll-free national helpline number - 8448440632. "</a>
								</h4>
								<div class="ftr">
									<div class="author ">
										<a href="#"> <span class="text-secondary">Ministry of Education</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-heart text-secondary"></i> 365 &nbsp; <i
											class="fa fa-share-alt text-secondary"></i> 120 </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="table">
								<h6 class="category text-danger">
									<i class="fa fa-globe "></i> India
								</h6>
								<h4 class="card-caption">
									<a href="#">33 million children still do not attend school and employed in various
										forms of child labor</a>
								</h4>
								<div class="ftr">
									<div class="author">
										<a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png"
												alt="" class="avatar img-raised"> <span>Kapil Dixit</span>
											<div class="ripple-cont">
												<div class="ripple ripple-on ripple-out"
													style="left: 574px; top: 364px; background-color: rgb(60, 72, 88); transform: scale(11.875);">
												</div>
											</div>
										</a>
									</div>
									<div class="stats"> <i class="fa fa-heart"></i> 342 &nbsp; <i
											class="fa fa-comment"></i> 45 </div>
								</div>
							</div>
						</div>
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img"
										src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.5Eny5rUyL5N6MhDzuNx2zAHaE8%26pid%3DApi&f=1">
								</a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-success"><i class="fa fa-university"></i> World</h6>
								<h4 class="card-caption">
									<a href="#">Educating India’s Children</a>
								</h4>
								<p class="card-description"> Almost two decades of basic education programs have
									expanded access to schools in India. Today, India’s Education for All program –
									Sarva Shiksha Abhiyan (SSA) - caters to some 200 million  ...</p>
								<div class="ftr">
									<div class="author">
										<a href="#"> <span>The World Bank</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-clock-o"></i> 10 min </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img"
										src="https://images.unsplash.com/photo-1524069290683-0457abfe42c3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80">
								</a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-warning">
									<i class="fa fa-file"></i> Report
								</h6>
								<h4 class="card-caption">
									<a href="#">Primary Education in India: Progress and Challenges</a>
								</h4>
								<div class="ftr">
									<div class="author">
										<a href="#"> <span>Urvashi Sahni</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-clock-o"></i> 15 min </div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="table table-danger">
								<h5 class="category-social">
									<i class="fa fa-newspaper-o"></i> News
								</h5>
								<h4 class="card-caption">
									<a href="#">"Girl child education improves,registers substantial rise in UP"</a>
								</h4>
								<p class="card-description"> Records show that girl students accounted for just 20.89%
									of ..
								</p>
								<div class="ftr text-center"> <a
										href="http://timesofindia.indiatimes.com/articleshow/81712083.cms?utm_source=contentofinterest&utm_medium=text&utm_campaign=cppst"
										class="btn btn-white btn-round">Read More</a>
								</div>
							</div>
						</div>
					</div>


					<!--  -->
					<div class="col-md-4">
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img"
										src="https://images.unsplash.com/photo-1522661067900-ab829854a57f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
									<div class="card-caption"> Covid-19 cloud over girl child education efforts </div>
								</a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-info">Vadodara</h6>
								<p class="card-description"> The ripple effect of economic slowdown owing to Covid-19
									has reeached even those working for noble causes, included the much-needed girl
									child education.


								</p>

							</div>
						</div>
						<div class="card">
							<div class="table table-info">
								<h5 class="category-social">
									<i class="fa fa-twitter"></i> Twitter
								</h5>
								<h4 class="card-caption">
									<a href="#">"#Students who are feeling helpless, scared or worried - remember that you are not alone.
										Get in touch with our counsellor today. Call our toll-free national helpline number - 8448440632. "</a>
								</h4>
								<div class="ftr">
									<div class="author ">
										<a href="#"> <span class="text-secondary">Ministry of Education</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-heart text-secondary"></i> 365 &nbsp; <i
											class="fa fa-share-alt text-secondary"></i> 120 </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="table">
								<h6 class="category text-danger">
									<i class="fa fa-globe "></i> India
								</h6>
								<h4 class="card-caption">
									<a href="#">33 million children still do not attend school and employed in various
										forms of child labor</a>
								</h4>
								<div class="ftr">
									<div class="author">
										<a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png"
												alt="" class="avatar img-raised"> <span>Kapil Dixit</span>
											<div class="ripple-cont">
												<div class="ripple ripple-on ripple-out"
													style="left: 574px; top: 364px; background-color: rgb(60, 72, 88); transform: scale(11.875);">
												</div>
											</div>
										</a>
									</div>
									<div class="stats"> <i class="fa fa-heart"></i> 342 &nbsp; <i
											class="fa fa-comment"></i> 45 </div>
								</div>
							</div>
						</div>
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img"
										src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.5Eny5rUyL5N6MhDzuNx2zAHaE8%26pid%3DApi&f=1">
								</a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-success"><i class="fa fa-university"></i> World</h6>
								<h4 class="card-caption">
									<a href="#">Educating India’s Children</a>
								</h4>
								<p class="card-description"> Almost two decades of basic education programs have
									expanded access to schools in India. Today, India’s Education for All program –
									Sarva Shiksha Abhiyan (SSA) - caters to some 200 million  ...</p>
								<div class="ftr">
									<div class="author">
										<a href="#"> <span>The World Bank</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-clock-o"></i> 10 min </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img"
										src="https://images.unsplash.com/photo-1524069290683-0457abfe42c3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80">
								</a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-warning">
									<i class="fa fa-file"></i> Report
								</h6>
								<h4 class="card-caption">
									<a href="#">Primary Education in India: Progress and Challenges</a>
								</h4>
								<div class="ftr">
									<div class="author">
										<a href="#"> <span>Urvashi Sahni</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-clock-o"></i> 15 min </div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="table table-danger">
								<h5 class="category-social">
									<i class="fa fa-newspaper-o"></i> News
								</h5>
								<h4 class="card-caption">
									<a href="#">"Girl child education improves,registers substantial rise in UP"</a>
								</h4>
								<p class="card-description"> Records show that girl students accounted for just 20.89%
									of ..
								</p>
								<div class="ftr text-center"> <a
										href="http://timesofindia.indiatimes.com/articleshow/81712083.cms?utm_source=contentofinterest&utm_medium=text&utm_campaign=cppst"
										class="btn btn-white btn-round">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</article>

	<!-- Why Us Section -->
	<section class="why-us">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<h2 class="mt-5 text-center">Why Choose Us</h2>
					<p class="mb-5 text-center">We at Donation Nation, aspire to change this inequality. This is
						accomplished by bringing together the people who want to give and the organizations that work to
						make a difference. We tell you exactly how your donation helps those in need and also give you a
						proof of it through regular and rigorously checked fund utilization reports.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>01</span>
						<h4><a href="#">You select the program that you wish to commit to support</a></h4>
						
						<img src="/images/image-one.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>02</span>
						<h4><a href="#">You receive a tax exemption receipt as soon as your donation transaction is complete</a></h4>
						
						<img src="/images/image-two.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>03</span>
						<h4><a href="#">The amount is allocated to the program and nonprofit of your choice</a></h4>
						
						<img src="/images/image-three.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>04</span>
						<h4><a href="#">Donations are disbursed to the nonprofits as per our schedule</a></h4>
						
						<img src="/images/image-four.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>05</span>
						<h4><a href="#">The nonprofit utilizes the money for the people as per your chosen program</a></h4>
						
						<img src="/images/image-five.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>06</span>
						<h4><a href="#">We track every donation and ensure that the nonprofit sends us a report on how they utilize donations</a></h4>
						
						<img src="/images/image-six.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>


