<% layout('/layouts/boilerplate') %>

    <!-- header starts -->
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/assets/background.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">Donation Nation</h1>
                    <p class="lead mb-0">Doing Nothing is Not An Option Of Our Life</p>
                </div>
            </div>
        </div>
    </header>

    <!-- header ends -->


	<article class="col-md-12">
		<!-- BLOG CARDS -->
		
		<div class="cards-1 section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg">
									<div class="card-caption"> Quisque a bibendum magna </div>
								</a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-info">Cinema</h6>
								<p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. Vivamus odio antement, feugiat eget nisi sit amet, scelerisque dignissim velit antement. </p>
							</div>
						</div>
						<div class="card">
							<div class="table table-info">
								<h5 class="category-social">
											<i class="fa fa-twitter"></i> Twitter
										</h5>
								<h4 class="card-caption">
											<a href="#">"Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit. Sus pendisse ultricies varius."</a>
										</h4>
								<div class="ftr">
									<div class="author">
										<a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="" class="avatar img-raised"> <span>Debbon Amet</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-heart"></i> 365 &nbsp; <i class="fa fa-share-alt"></i> 120 </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="table">
								<h6 class="category text-danger">
											<i class="fa fa-globe "></i> World
										</h6>
								<h4 class="card-caption">
											<a href="#">Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit.</a>
										</h4>
								<div class="ftr">
									<div class="author">
										<a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="" class="avatar img-raised"> <span>Patrick Wood</span>
											<div class="ripple-cont">
												<div class="ripple ripple-on ripple-out" style="left: 574px; top: 364px; background-color: rgb(60, 72, 88); transform: scale(11.875);"></div>
											</div>
										</a>
									</div>
									<div class="stats"> <i class="fa fa-heart"></i> 342 &nbsp; <i class="fa fa-comment"></i> 45 </div>
								</div>
							</div>
						</div>
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-success"><i class="fa fa-university"></i> Law</h6>
								<h4 class="card-caption">
							<a href="#">Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit</a>
							</h4>
								<p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus.</p>
								<div class="ftr">
									<div class="author">
										<a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="..." class="avatar img-raised"> <span>Mary Dunst</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-clock-o"></i> 10 min </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-warning">
											<i class="fa fa-soundcloud"></i> Music
										</h6>
								<h4 class="card-caption">
								<a href="#">Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit</a>
							</h4>
								<div class="ftr">
									<div class="author">
										<a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="..." class="avatar img-raised"> <span>Debbon Amet</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-clock-o"></i> 15 min </div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="table table-danger">
								<h5 class="category-social">
											<i class="fa fa-newspaper-o"></i> News
										</h5>
								<h4 class="card-caption">
											<a href="#">"Consectetur odio feugiat"</a>
										</h4>
								<p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus.</p>
								<div class="ftr text-center"> <a href="#" class="btn btn-white btn-round">Read More</a> </div>
							</div>
						</div>
					</div>
	
	
					<!--  -->
					<div class="col-md-4">
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg">
									<div class="card-caption"> Quisque a bibendum magna </div>
								</a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-info">Cinema</h6>
								<p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. Vivamus odio antement, feugiat eget nisi sit amet, scelerisque dignissim velit antement. </p>
							</div>
						</div>
						<div class="card">
							<div class="table table-info">
								<h5 class="category-social">
											<i class="fa fa-twitter"></i> Twitter
										</h5>
								<h4 class="card-caption">
											<a href="#">"Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit. Sus pendisse ultricies varius."</a>
										</h4>
								<div class="ftr">
									<div class="author">
										<a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="" class="avatar img-raised"> <span>Debbon Amet</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-heart"></i> 365 &nbsp; <i class="fa fa-share-alt"></i> 120 </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="table">
								<h6 class="category text-danger">
											<i class="fa fa-globe "></i> World
										</h6>
								<h4 class="card-caption">
											<a href="#">Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit.</a>
										</h4>
								<div class="ftr">
									<div class="author">
										<a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="" class="avatar img-raised"> <span>Patrick Wood</span>
											<div class="ripple-cont">
												<div class="ripple ripple-on ripple-out" style="left: 574px; top: 364px; background-color: rgb(60, 72, 88); transform: scale(11.875);"></div>
											</div>
										</a>
									</div>
									<div class="stats"> <i class="fa fa-heart"></i> 342 &nbsp; <i class="fa fa-comment"></i> 45 </div>
								</div>
							</div>
						</div>
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-success"><i class="fa fa-university"></i> Law</h6>
								<h4 class="card-caption">
							<a href="#">Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit</a>
							</h4>
								<p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus.</p>
								<div class="ftr">
									<div class="author">
										<a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="..." class="avatar img-raised"> <span>Mary Dunst</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-clock-o"></i> 10 min </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card card-blog">
							<div class="card-image">
								<a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
								<div class="ripple-cont"></div>
							</div>
							<div class="table">
								<h6 class="category text-warning">
											<i class="fa fa-soundcloud"></i> Music
										</h6>
								<h4 class="card-caption">
								<a href="#">Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit</a>
							</h4>
								<div class="ftr">
									<div class="author">
										<a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="..." class="avatar img-raised"> <span>Debbon Amet</span> </a>
									</div>
									<div class="stats"> <i class="fa fa-clock-o"></i> 15 min </div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="table table-danger">
								<h5 class="category-social">
											<i class="fa fa-newspaper-o"></i> News
										</h5>
								<h4 class="card-caption">
											<a href="#">"Consectetur odio feugiat"</a>
										</h4>
								<p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus.</p>
								<div class="ftr text-center"> <a href="#" class="btn btn-white btn-round">Read More</a> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</article>

	<!-- Why Us Section -->
	<section class="why-us">
		<div class="container">
	        <div class="row">
				<div class="col-md-8 offset-md-2">
					<h2 class="mt-5 text-center">Why Choose Us</h2>
					<p class="mb-5 text-center">Why choose us section design HTML is created by using Bootstrap and custom HTML CSS. This our services section cards are more beautiful with pure CSS hover effects.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>01</span>
						<h4><a href="#">Why Lorem Ipsum</a></h4>
						<p>There are many variations of passages of available, but the majority have suffered alteration in some form</p>
						<img src="/images/image-one.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>02</span>
						<h4><a href="#">Why do we use it</a></h4>
						<p>There are many variations of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
						<img src="/images/image-two.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>03</span>
						<h4><a href="#">Can I get some</a></h4>
						<p>There are many variations of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
						<img src="/images/image-three.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>04</span>
						<h4><a href="#">Why Lorem Ipsum</a></h4>
						<p>There are many variations of passages of Lorem Ipsum available, the majority have suffered alteration in some form</p>
						<img src="/images/image-four.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>05</span>
						<h4><a href="#">Why do we use it</a></h4>
						<p>There are many of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
						<img src="/images/image-five.jpg" alt="">
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="box">
						<span>06</span>
						<h4><a href="#">Can I get some</a></h4>
						<p>There are variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
						<img src="/images/image-six.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>